body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}

button{
    width: 100%;
    height: 100%;
    font-size: 25px;
    border: none;
}

table th, table td{
    border: 1px solid black;
    width: 45px;
    height: 40px;
    text-align: center;
    font: 20px Arial, sans-serif;
}


table tr th:first-child,
table tr th:last-child{
    width: 80px;
}

#pozadina_prozora{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
    display: flex;
    justify-content: center;
    align-items: center;
}
#prozor{
    background-color: white;
    padding: 20px;
}
#prozor button{
    margin: 10px 0;
    padding: 10px;
    border: none;
}

#suma-1 td, #suma-2 td, #suma-3 td{
    text-align: center;
    padding: 0;
    background-color: red;
}

#red-0, #suma-1, #suma-2, #suma-3{
    background-color: yellow;
}
#poeni{
    background-color: black;
    color: white;
}

@media(max-width: 480px){
    html, body{
        margin: 0;
        padding: 0;
        height: 100%;
        overflow: hidden;
    }

    #igra{
        width: 100%;
        height: 100vh;
    }

    table{
        width: 100%;
        height: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    table tr{
        height: calc(100% / 18);
    }

    table th{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font: 12px Arial, sans-serif;
        text-align: center;
        box-sizing: border-box;
    }

    table tr:last-child th:last-child,
    table td,
    button {
        font-size: 16px;
    }


    table th, table td{
        width: auto;
        height: auto;
        box-sizing: border-box;
    }
    
    table tr th:first-child,
    table tr th:last-child{
        width: 50px;
    }

    table tr th:not(:first-child):not(:last-child),
    table tr td:not(:last-child){
        width: calc((100% - 100px) / 10);
    }
}