body{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
}

table{
    border: 1px solid black;
    border-collapse: collapse;
}

button{
    display: block;
    margin: 0 auto;
    padding: 15px;
    font-size: 16px Arial, sans-serif;
}

table th, table td{
    border: 1px solid black;
    width: 30px;
    height: 30px;
    text-align: center;
    font: 16px Arial, sans-serif;
}

#red-0, #suma-1, #suma-2, #suma-3{
    background-color: yellow;
}

#poeni{
    background-color: black;
    color: white;
}


@media(max-width: 480px){
    #igra{
        width: 100%;
        height: 100vh;
    }

    table{
        width: 100%;
        height: 100%;
        table-layout: fixed;
        border-collapse: collapse;
    }

    table tr{
        height: calc(100% / 18);
    }

    table th{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        font: 12px Arial, sans-serif;
        text-align: center;
        box-sizing: border-box;
        padding: 0;
    }

    table tr th:first-child,
    table tr th:last-child{
        width: 50px;
    }

    table tr:first-child th,
    table tr:last-child th{
        font-size: 16px;
    }

    table tr th:not(:first-child):not(:last-child),
    table tr td:not(:last-child){
        width: calc((100% - 100px) / 10);
    }

}