<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>JAMB</title>
  <link rel="stylesheet" href="/static/style.css">
</head>
<body>
  <audio id="zvukNajave" src="/static/mp3/najava.mp3" preload="auto"></audio>
  <div id="igra"></div>
  <button onclick="novaPartija()">Nova partija</button>
  <script src="/static/script.js"></script>

  <script>
    async function sacuvajCeliju(redID, kolona, vrednost) {
      await fetch("/sacuvaj",{
        method: "POST",
        headers: { "Content-Type": "application/json" },
        body: JSON.stringify({red: redID, kolona, vrednost})
      });
    }

    async function ucitajSveCelije(){
      const resp = await fetch("/ucitaj");
      const podaci = await resp.json();
      const tabela = document.querySelector("table");
      podaci.forEach(({red, kolona, vrednost}) => {
        const redElement = tabela.querySelector(`#${red}`);
        if(redElement && redElement.cells[kolona])
          redElement.cells[kolona].textContent = vrednost;
      });
    } 

    async function novaPartija(){
      const potvrda = confirm("Sve ce biti obrisano!!!");
      if(!potvrda)
        return;
      await fetch("/nova_partija", {method: "POST"});
      const tabela = document.querySelector("table");
      for(let i = 1; i < tabela.rows.length; i++)
        for(let j = 1; j < tabela.rows[i].cells.length; j++)
          tabela.rows[i].cells[j].textContent="";
    } 
  </script>
</body>
</html>